<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="container">
    <footer >
        <div class="row">  
            <div class="col-sm-2"></div> 
            <div class="col-7 col-sm-5">
                <h5>Company</h5>
                    <a class="nav-link" routerLink="/home">Home </a><br>
                    <a class="nav-link" routerLink="/about">About us</a><br>  
                    <a class="nav-link" routerLink="/products">Prodcuts</a><br>
                    <a class="nav-link" routerLink="/contact">Contact     Us </a><br>   
            </div>       
            <div class="col-7 col-sm-5">
                <h5>Follow Us</h5>
                <br>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a><br>
                    <a href="#"><i class="fab fa-twitter"></i></a><br>
                    <a href="#"><i class="fab fa-instagram"></i></a><br>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    
                </div>
             
            </div>
         
            <p class="copyright"> &copy; Copyright All rights reserved. </p>
        </div>
    </footer>
    </div>
    
