
    <div class="container">
          
        <h2 class="h2">About us</h2>
        <br><br>
                        <img src="../assets/images/naw.png">
            <div class="text"> Nawara collection founded in December
                2022 by a fashion enthusiast concerned with meeting the new expectations of today's women, the website www.nawaracollection.tn  specializes in the sale of clothing
                woman at a price defying any competition. From now on, all madness is allowed!
                
                Nawara collection.tn guarantees excellent service, from ordering to after-sales. You are delivered within 48 hours, benefit from 100% secure payment, and if you are not satisfied with your purchase, you will be refunded.
            </div>
        </div>